hr {
    margin: 1.5rem 0;
}

/*  */
.icon {
    font-size: 32px;
    margin: 0 3rem;
    width: 50px;
}

.icon-group {
    display: flex;
}

.icon small {
    font-size: 18px;
}

.column-group {
    margin-bottom: 2rem;
} 