@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Mynerve&family=Roboto&display=swap');

:root {
    --primary-color: #007AC1;
    --secondary-color: #ff6600;
}

hr {
    margin: 1.5rem 0;
    background-color: var(--secondary-color);
    height: 1.5px;
}

main {
    min-height: 400px;
    width: 100%;
}

/*  */
#showcase-area .hero-body .columns .column .title {
    color: var(--primary-color);
}

#showcase-area {
    margin-bottom: 5rem;
}

.title-item {
    color: var(--primary-color);
    font-size: 1.7rem;
}

.navbar-dropdown {
    font-size: 1.15rem;
}

.nav-label {
    font-size: 1.4rem;
}

#nav-btn-primary {
    background-color: var(--primary-color);
    color: #fff;
}

#nav-btn-secondary {
    background-color: var(--secondary-color);
    color: #fff;
}

.nav-right .button {
    transition: 0.3s;
}

.nav-right .button:hover {
    transform: scale(1.05);
}

.navbar-brand {
    color: var(--primary-color);
}

.fa-circle-user {
    transition: 0.3s;
}

.fa-circle-user:hover {
    transform: scale(1.10);
}

/*  */
.icon {
    font-size: 32px;
    margin: 0 3rem;
    width: 50px;
}

.icon-group {
    display: flex;
}

.icon small {
    font-size: 18px;
}

.column-group {
    margin-bottom: 2rem;
}

.footer {
    height: 300px;
}

.footer .columns {
    margin-bottom: 3rem;
}

#footer-built-by {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

#footer-built-by hr {
    border: 0;
    height: 1px;
    width: 50%;
}

header {
    margin-bottom: 80px;
}

#contact-form {
    margin-bottom: 5rem;
}

#title-hr {
    width: 80%;
}

.navbar.container {
    font-size: 18px;
}

#sub-showcase {
    font-family: 'Jersey 25 Charted', sans-serif;
    color: #fff;
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    background-color: var(--primary-color);
}

#services-demos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: #fff;
    height: 100px;
}

#services-demos h2 {
    color: #fff;
}

.pipe {
    color: var(--secondary-color);
    display: inline;
}

.page-title-div h1 {
    text-align: center;
}

.page-title-div {
    margin-bottom: 100px;
}

.title-underline {
    margin: 0;
    width: 200px;
}

.demo-image {
    height: 180px;
    width: 240px;
}

#the-crew-section {
    background-color: var(--primary-color);
    height: 600px;
}

#the-crew-section h2 {
    color: #fff;
}

.login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 50%;
}

.login-btn {
    color: white;
    background-color: var(--primary-color);
}

#errors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
}

#new-product-upload {
    display: none;
}

.services .column i {
    font-size: 6em;
    padding: 1rem 1rem;
}

.services .column .logos {
    display: flex;
    align-items: center;
}

.services .column #flutter {
    height: 100px;
}

.services .column #unity {
    height: 100px;
}

.services .column .logo {
    height: 6em;
}

.services .column #electron {
    height: 100px;
}

.services .column .fa-plus {
    font-size: 50px;
}

.services .columns .column .fa-node {
    font-size: 200px;
}

#demos-tag {
    background-color: var(--primary-color);
}

.popover {
    width: 150px;
    height: 90px;
    position: absolute;
    inset: unset;
    top: 10px;
    left: 150px;
    margin: 0;
}

#doc-featured-image {
    display: flex;
    justify-content: center;
}

#doc-featured-image .image {
    width: 80%;
}

#doc-content-show {
    font-size: 20px;
}

#product-image .image img {
    height: 600px;
    width: 800px;
}

#product-show-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-section {
    display: flex;
    justify-content: center;
}

.resource-form {
    width: 60%;
}

.fa-circle-user {
    color: #333;
}

#user-cart-form {
    width: 20%;
}

.register-menu-btn {
    background-color: #595959;
    color: #fff;
}

#index-rendered-products-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
}

.cart-item-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cart-item-remove-btn {
    height: 40px;
}

#simple-website-package-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 250px;
}

#simple-website-package-action p {
    font-size: 20px;
}

#forgot-password-form {
    display: flex;
    justify-content: center;
}

#reset-password-form-div {
    display: flex;
    justify-content: center;
}

#doc-content-show #doc-content h2 {
    font-size: 36px;
    margin: 2rem 0 0.75rem 0;
}

#doc-content-show #doc-content p {
    margin: 0 0 0.5rem 0;
}

#services-title {
    margin-bottom: 100px;
}

.is-theme-1 {
    color: var(--primary-color);
}

.is-theme-2 {
    color: var(--secondary-color);
}

#company-introduction img {
    height: 500px;
}

body {
    position: relative;
}

#session-modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.6);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#session-modal #modal-btns {
    display: flex;
}

#session-modal #modal-btns form {
    margin-right: 1rem;
}

#product-image .image img {
    width: 400px;
    height: auto;
}

#product-show-area p {
    text-align: center;
}

#admin-index-sub-nav {
    display: none;
}