@media (max-width: 768px) {
    #sub-showcase {
        font-size: 56px;
    }

    #showcase-area .columns .column:nth-child(2) {
        display: none;
    }

    #company-introduction .columns .column:nth-child(2) {
        padding: 0;
        margin: 0;
    }

    .login-form {
        width: 100%;
    }

    .page-title-div {
        margin-bottom: 4rem;
    }

    .page-title-div h1 {
        font-size: 2.5rem !important;
    }

    #about-section p, #about-section ul {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #billing-shipping-section {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .breadcrumb {
        padding-left: 2rem;
    }

    #full-system-section .columns {
        margin-left: 0rem;
        margin-right: 2rem;
    }

    #full-system-section .services .column i {
        font-size: 4em;
    }

    #full-system-section .services .column .fa-plus {
        font-size: 3rem;
    }

    #full-system-section .services .column .logo {
        height: 4em;
    }

    #websites .column p {
        padding-left: 2rem;
    }

    #demos-tag {
        margin-left: 2rem;
    }

    #mobile-applications .column p {
        margin-left: 2rem;
    }

    #web-applications .column p {
        margin-left: 2rem;
    }

    .container section #byline {
        margin-left: 2rem;
    }

    #index-rendered-products-div {
        display: block;
    }

    #product-image .image img {
        width: 200px;
        height: auto;
    }

    #product-show-area p {
        margin-left: 2rem;
        text-align: left;
    }

    #admin-index-sub-nav {
        display: block;
    }

    #docs-form {
        width: 100%;
    }

    #docs-index-section .columns {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    #doc-featured-image {
        margin-bottom: 2rem;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    #about-section p, #about-section ul {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #billing-shipping-section {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .breadcrumb {
        padding-left: 2rem;
    }

    #full-system-section .services .column i {
        font-size: 4em;
    }

    #full-system-section .services .column .fa-plus {
        font-size: 3rem;
    }

    #full-system-section .services .column .logo {
        height: 4em;
    }

    .container section #byline {
        margin-left: 2rem;
    }

    #index-rendered-products-div {
        display: block;
    }

    #product-image .image img {
        width: 300px;
        height: auto;
    }

    #docs-index-section .columns {
        display: block;
    }

    #docs-index-section .columns {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}